.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.container-home {
    display: inline-block;
    flex-direction: column;
    align-items: flex-start;

    padding: 10px;
    margin-bottom: 20px;
    /* Ajusta el margen inferior según sea necesario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Agrega sombra para resaltar los filtros */
}

.container-home label,
.container-home select,
.container-home button {
    margin-bottom: 10px;
    /* Ajusta el margen inferior entre elementos */
}

.container-home button {
    font-family: 'Lucida Console', Monaco, monospace;
    font-weight: bold;
    font-size: 1em;
    /* Tamaño de la letra */
    padding: 8px 15px;
    /* Ajusta el relleno según sea necesario */
    background-color: #ccd5ae;
    /* Color terciario de la paleta */
    color: #000814;
    /* Color de acento 2 de la paleta */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Efecto de transición suave en el cambio de color de fondo */
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container-home button:hover {
    background-color: #e9edc9;
    /* Cambia al color principal de la paleta al pasar el ratón por encima */
}