.searchbar button {
  font-family: 'Lucida Console', Monaco, monospace;
  font-weight: bold;
  font-size: 1.2em;
  padding: 8px 15px;
  background-color: #ccd5ae;
  color: #000814;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 47%;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.searchbar button:hover {
  background-color: #e9edc9;
  transform: scale(1);
}

.searchbar input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  border-bottom: 1px solid #ccd5ae;
  outline: none;
  font-size: 1em;
  color: #353535;
  transition: border-bottom 0.3s ease;
  margin: 3px;
}