.paginado button {
    font-family: 'Lucida Console', Monaco, monospace;
    font-weight: bold;
    font-size: 1em;
    padding: 8px 15px;
    background-color: #ccd5ae;
    color: #000814;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 3px;
}

.paginado button:hover {
    background-color: #e9edc9;
}