.LandingPage {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.container button {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.container button {
    position: relative;
    border-radius: small;
    width: 150px;
    height: 50px;
    border: black;
    outline: none;
    background: #93c3e9;
    cursor: pointer;
    font-weight: bold;
    font-family: lucida 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container button:hover {
    background: #9cb2c3;
    transition: .5s;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}